# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#read and load in csv from Weather.py
#convert to dataframe
file = "../WeatherPy/WeatherPy-SampleCities.csv"
citysample_df = pd.read_csv(file)  
citysample_df = citysample_df.drop(columns='Unnamed: 0')
citysample_df

,long,lat,City,Country,Temp,Humidity,Cloudiness,Wind (mph)
0,-129.746319,12.351992,constitucion,mx,49.982,83,0,5.88
1,-43.379197,52.973609,nanortalik,gl,38.426,72,0,10.05
2,-103.009442,-25.997843,puerto ayora,ec,66.992,91,59,3.13
3,147.709495,32.740653,hasaki,jp,88.466,74,75,3.10
4,-179.448119,23.677124,kapaa,us,84.344,58,20,6.70
...,...,...,...,...,...,...,...,...
447,65.077793,52.262513,kushmurun,kz,53.168,44,92,3.91
448,32.067861,-6.052241,inyonga,tz,62.654,57,18,2.31
449,-46.099063,-36.755576,rio grande,br,55.994,94,0,0.45
450,-73.435458,-47.051738,coihaique,cl,35.600,85,75,0.50
451,42.687383,21.912612,mecca,sa,84.416,45,2,1.30

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
citysample_df

,long,lat,City,Country,Temp,Humidity,Cloudiness,Wind (mph)
0,-129.746319,12.351992,constitucion,mx,49.982,83,0,5.88
1,-43.379197,52.973609,nanortalik,gl,38.426,72,0,10.05
2,-103.009442,-25.997843,puerto ayora,ec,66.992,91,59,3.13
3,147.709495,32.740653,hasaki,jp,88.466,74,75,3.10
4,-179.448119,23.677124,kapaa,us,84.344,58,20,6.70
...,...,...,...,...,...,...,...,...
447,65.077793,52.262513,kushmurun,kz,53.168,44,92,3.91
448,32.067861,-6.052241,inyonga,tz,62.654,57,18,2.31
449,-46.099063,-36.755576,rio grande,br,55.994,94,0,0.45
450,-73.435458,-47.051738,coihaique,cl,35.600,85,75,0.50
451,42.687383,21.912612,mecca,sa,84.416,45,2,1.30

In [ ]:
#humidity heatmap using google maps heat map info

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure