# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
#read and load in csv from Weather.py
#convert to dataframe
file = "../WeatherPy/WeatherPy-SampleCities.csv"
citysample_df = pd.read_csv(file)  
citysample_df = citysample_df.drop(columns='Unnamed: 0')
citysample_df

,long,lat,City,Country,Temp,Humidity,Cloudiness,Wind (mph)
0,100.965317,-38.563507,busselton,au,47.066,80,92,2.04
1,-15.076400,34.814123,camacha,pt,71.600,73,40,6.20
2,-146.738450,-58.422238,mataura,pf,50.000,63,90,0.45
3,-4.978010,4.430139,grand-lahou,ci,75.146,88,80,4.32
4,-42.474356,65.086054,tasiilaq,gl,33.800,95,100,1.00
...,...,...,...,...,...,...,...,...
454,-34.613936,2.943307,jardim,br,82.814,29,76,1.25
455,-94.801730,15.865695,san mateo del mar,mx,84.128,76,63,4.07
456,58.498803,37.945263,annau,tm,66.200,32,0,1.00
457,137.328833,46.570013,svetlaya,ru,58.028,80,93,5.35
458,-100.443361,20.246464,jerecuaro,mx,67.964,93,90,1.50

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
citysample_df

,long,lat,City,Country,Temp,Humidity,Cloudiness,Wind (mph)
0,100.965317,-38.563507,busselton,au,47.066,80,92,2.04
1,-15.076400,34.814123,camacha,pt,71.600,73,40,6.20
2,-146.738450,-58.422238,mataura,pf,50.000,63,90,0.45
3,-4.978010,4.430139,grand-lahou,ci,75.146,88,80,4.32
4,-42.474356,65.086054,tasiilaq,gl,33.800,95,100,1.00
...,...,...,...,...,...,...,...,...
454,-34.613936,2.943307,jardim,br,82.814,29,76,1.25
455,-94.801730,15.865695,san mateo del mar,mx,84.128,76,63,4.07
456,58.498803,37.945263,annau,tm,66.200,32,0,1.00
457,137.328833,46.570013,svetlaya,ru,58.028,80,93,5.35
458,-100.443361,20.246464,jerecuaro,mx,67.964,93,90,1.50

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure