# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
#read and load in csv from Weather.py
#convert to dataframe
file = "../WeatherPy/WeatherPy-SampleCities.csv"
citysample_df = pd.read_csv(file)  
citysample_df = citysample_df.drop(columns='Unnamed: 0')
citysample_df

,long,lat,City,Country,Temp,Humidity,Cloudiness,Wind (mph)
0,128.379756,-64.324089,new norfolk,au,45.968,70,100,2.19
1,59.195332,-13.702434,cap malheureux,mu,64.004,82,92,0.89
2,-84.255361,-86.054528,ushuaia,ar,35.600,80,75,10.30
3,9.199472,29.322843,nalut,ly,76.442,53,82,6.86
4,53.140293,22.431181,abu dhabi,ae,89.600,75,1,2.60
...,...,...,...,...,...,...,...,...
442,179.187869,-50.011217,christchurch,nz,36.446,74,0,1.00
443,38.746392,52.649579,donskoye,ru,66.200,37,0,3.00
444,13.833985,-1.227258,lekoni,ga,77.036,78,100,2.92
445,-65.259670,38.322374,shelburne,ca,66.308,49,20,6.70
446,-70.442455,-14.540719,nunoa,pe,55.382,41,82,1.60

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
citysample_df

,long,lat,City,Country,Temp,Humidity,Cloudiness,Wind (mph)
0,128.379756,-64.324089,new norfolk,au,45.968,70,100,2.19
1,59.195332,-13.702434,cap malheureux,mu,64.004,82,92,0.89
2,-84.255361,-86.054528,ushuaia,ar,35.600,80,75,10.30
3,9.199472,29.322843,nalut,ly,76.442,53,82,6.86
4,53.140293,22.431181,abu dhabi,ae,89.600,75,1,2.60
...,...,...,...,...,...,...,...,...
442,179.187869,-50.011217,christchurch,nz,36.446,74,0,1.00
443,38.746392,52.649579,donskoye,ru,66.200,37,0,3.00
444,13.833985,-1.227258,lekoni,ga,77.036,78,100,2.92
445,-65.259670,38.322374,shelburne,ca,66.308,49,20,6.70
446,-70.442455,-14.540719,nunoa,pe,55.382,41,82,1.60

In [77]:
#humidity heatmap using google maps heat map info
coords = citysample_df[["lat","long"]]
humidity = citysample_df["Humidity"].astype(float)

figure_layout = { 
                'width' : '1000px',
                'height' : '600px',
                'border':'1px solid black',
                'padding':'1px',
                'margin':'0 auto 0 auto'
}


######################################################################
##  Created a map figure, added markers with nearest placenames for 
##  data set, and adjusted map for readability.
##  The map currently shows large color swatches to indicate regions of 
##  higher and lower humidity.
######################################################################

fig = gmaps.figure(layout=figure_layout)
info = citysample_df["City"]

##
## Add the two commented-out lines below to overlay markers on top of this map
##


#markers = gmaps.marker_layer(coords,info_box_content = "Randomly Generated Point, Nearest City :" + info + "")
#fig.add_layer(markers)


heatmap_layer = gmaps.heatmap_layer(coords, weights=humidity,max_intensity=1500)
heatmap_layer.point_radius = 30
heatmap_layer.dissipating=False
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [ ]:
#conditional selection from citysample_df

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure