# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
import pandas as pd
import numpy as np
import requests
import json
import matplotlib.pyplot as plt

from api_keys import weather_api_key
from citipy import citipy

In [14]:

#Casts a dataframe with two very long sets of random numbers formatted for use as random lat/long coordinates
cities_df = pd.DataFrame({"long":(np.random.uniform(-1.8,1.8,1200)*100), "lat":(np.random.uniform(-0.9,0.9,1200)*100)})

####
#### API SAVER
####
cities_df = cities_df.truncate(after = 9)


cities_df.head()

#city = citipy.nearest_city(22.99,120.21)
#city.country_code

         long        lat
0  -92.684456 -17.056190
1  171.042536  75.848966
2   61.378896  -5.946120
3 -141.327959  49.559032
4   96.826876 -13.634482

## Generate Cities List

In [15]:
cities_name = []
countrycode = []
for i in range(0,len(cities_df['lat'])):
    
    #API saver
    if i>10:
        break
    
    
    lat = cities_df.iloc[i]['lat']
    long = cities_df.iloc[i]['long']
    city = citipy.nearest_city(lat,long)
    
    name = city.city_name
    cities_name.append(name)
    country = city.country_code
    countrycode.append(country)
    
cities_df['City'] = cities_name
cities_df['Country'] = countrycode
cities_df.head(10)

         long        lat          City Country
0  -92.684456 -17.056190       huarmey      pe
1  171.042536  75.848966         pevek      ru
2   61.378896  -5.946120      victoria      sc
3 -141.327959  49.559032         sitka      us
4   96.826876 -13.634482      bengkulu      id
5   97.251613  56.583467   pokanayevka      ru
6  -16.425064  36.282349       camacha      pt
7  177.809608  58.095938  beringovskiy      ru
8 -120.721109   0.525954        atuona      pf
9   56.075435 -50.895595     taolanaro      mg

In [16]:
#drop duplicate cities in cities_df
cities_copy = cities_df.copy()
new_cities = cities_copy.drop_duplicates("City", keep = 'first')

#reset cities_df's index and truncate at 499 to provide sample size of 500 random cities.
new_cities = new_cities.reset_index()
new_cities = new_cities.truncate( after=499)
new_cities

   index        long        lat          City Country
0      0  -92.684456 -17.056190       huarmey      pe
1      1  171.042536  75.848966         pevek      ru
2      2   61.378896  -5.946120      victoria      sc
3      3 -141.327959  49.559032         sitka      us
4      4   96.826876 -13.634482      bengkulu      id
5      5   97.251613  56.583467   pokanayevka      ru
6      6  -16.425064  36.282349       camacha      pt
7      7  177.809608  58.095938  beringovskiy      ru
8      8 -120.721109   0.525954        atuona      pf
9      9   56.075435 -50.895595     taolanaro      mg

In [17]:
api_key = weather_api_key


#Establish columns for data to be used in scatter plots
new_cities["Temp"]=""
new_cities["Humidity"]=""
new_cities["Cloudiness"]=""
new_cities["Wind (mph)"]=""
new_cities.head(10)

,index,long,lat,City,Country,Temp,Humidity,Cloudiness,Wind (mph)
0,0,-92.684456,-17.056190,huarmey,pe,,,,
1,1,171.042536,75.848966,pevek,ru,,,,
2,2,61.378896,-5.946120,victoria,sc,,,,
3,3,-141.327959,49.559032,sitka,us,,,,
4,4,96.826876,-13.634482,bengkulu,id,,,,
5,5,97.251613,56.583467,pokanayevka,ru,,,,
6,6,-16.425064,36.282349,camacha,pt,,,,
7,7,177.809608,58.095938,beringovskiy,ru,,,,
8,8,-120.721109,0.525954,atuona,pf,,,,
9,9,56.075435,-50.895595,taolanaro,mg,,,,

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [18]:
#Use iterrows() to loop through the new_cities sample size and perform API calls for each

In [26]:
#Test API block status

target_url=f"http://api.openweathermap.org/data/2.5/weather?q={new_cities.City[0]}&appid={weather_api_key}"
weather_json = requests.get(target_url).json()
print(weather_json)
#print("       ")
#print("       ")
print(weather_json["main"]["temp"])


#temp_list.append(weather_json["main"]["temp"])
#print(temp_list)

{'cod': 429, 'message': 'Your account is temporary blocked due to exceeding of requests limitation of your subscription type. Please choose the proper subscription http://openweathermap.org/price'}

KeyError: 'main'

In [28]:
temp_list = []
for index, row in new_cities.iterrows():
    
    
    #API saver
    if index>10:
        break
    
    target_url=f"http://api.openweathermap.org/data/2.5/weather?q={row[3]}&appid={weather_api_key}"
    weather_json = requests.get(target_url).json()
    print(f"Processing Record {index} | {row[3]}")
    
    try:
        #new_cities.set_value(index, "Temp", weather_json["main"]["temp"])
        temp_list.append(weather_json["main"]["temp"])
        
        
        #new_cities.set_value(index, "Humidity", weather_json["main"]["humidity"])
        #new_cities.set_value(index, "Cloudiness", weather_json["clouds"]["all"])
        #new_cities.set_value(index, "Wind (mph)", weather_json["wind"]["speed"])
        
    except:
        temp_list.append("")
        print("City not found. Skipping...")

Processing Record 0 | huarmey
City not found. Skipping...
Processing Record 1 | pevek
City not found. Skipping...
Processing Record 2 | victoria
City not found. Skipping...
Processing Record 3 | sitka
City not found. Skipping...
Processing Record 4 | bengkulu
City not found. Skipping...
Processing Record 5 | pokanayevka
City not found. Skipping...
Processing Record 6 | camacha
City not found. Skipping...
Processing Record 7 | beringovskiy
City not found. Skipping...
Processing Record 8 | atuona
City not found. Skipping...
Processing Record 9 | taolanaro
City not found. Skipping...

In [32]:
new_cities["Temp"] = temp_list
###
### ADD A DROPNA STATEMENT DOWN BELOW TO REMOVE ALL MISSING OPTIONS
### OR DELETE BASED ON TEMP BEING "NAN" OR "" OR WHATEVER
### JUST MAKE SURE YOU DO IT
###

#print(len(temp_list))
 

def kelv_to_fahr(temp_kelv):
    """Convert Kelvin to Fahrenheit
    
    Return Fahrenheit conversion of input"""
    
    temp_fahr = (temp_kelv)* 9/5 - 459.67
    return temp_fahr


#converts the strings to numbers so they can be formatted into fahrenheit
#new_cities.dropna() to get rid of the empty variables where data was lacking
#or do a reverse loc statement, remmoving all that has this characteristic - "NaN" or "" 
#before numericization
new_cities["Temp"] = pd.to_numeric(new_cities["Temp"])
new_cities["Temp"] = kelv_to_fahr(new_cities["Temp"])



new_cities.head()

10

,index,long,lat,City,Country,Temp,Humidity,Cloudiness,Wind (mph)
0,0,-92.684456,-17.056190,huarmey,pe,35.33,,,
1,1,171.042536,75.848966,pevek,ru,35.33,,,
2,2,61.378896,-5.946120,victoria,sc,35.33,,,
3,3,-141.327959,49.559032,sitka,us,35.33,,,
4,4,96.826876,-13.634482,bengkulu,id,35.33,,,

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
#  Get the indices of cities that have humidity over 100%.

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression